{{>layouts/header}}

{{#board}}

<form class="container" action="/board/update" method="post">
    <input name="id" type="hidden" value="{{id}}"/>
    <div class="mb-3">
        <label class="form-label">タイトル</label>
        <input type="text" class="form-control" name="title" value="{{title}}">

    </div>
    <div class="mb-3">
        <label class="form-label">内容</label>
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
    </div>
    <a href="/board/{{id}}" class="btn btn-primary font-weight-bold">戻る</a>
    <button type="submit" class="btn btn-primary font-weight-bold">提出</button>
</form>

{{/board}}

{{>layouts/footer}}