{{>layouts/header}}

<form class="container" action="/board/create" method="post">
    <div class="mb-3">
        <label class="form-label">タイトル</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">内容</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <a href="/board" class="btn btn-primary font-weight-bold">戻る</a>
    <button type="submit" class="btn btn-primary font-weight-bold">提出</button>
</form>


{{>layouts/footer}}